<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>paraName</param-name>
		<param-value>paraValue</param-value>
	</context-param>
	
	<context-param>
		<param-name>book</param-name>
		<param-value>C++程序设计</param-value>
	</context-param>
	
</web-app>
