<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>Servlet_yanzheng</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>ch07_7.Servlet_yanzheng</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servlet_yanzheng</servlet-name>
    <url-pattern>/Servlet_yanzheng</url-pattern>
  </servlet-mapping>

</web-app>